@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --primary-color: #fe4775;
  --secondary-color: #161060;
  --tertiary-color: #ffffff;
  --primary-text-color: #111111;
  --secondary-text-color: #ffffff;
  --headline-color: #393939;
  --inactive-text-color: #3939399d;

  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--secondary-font-family);
  margin: 0;
  height: 100vh;
}
/* BLOCK */
.form {
  position: relative;
  height: 100%;
  display: grid;
  align-content: center;
  row-gap: 2em;
  padding: 1.5em 0 6.2em 1.5em;
}
/* ELEMENT */

.form__title {
  font-size: 3em;
  font-weight: normal;
}

.form__subtitle {
  text-transform: uppercase;
}

/* ELEMENT */

.form__submit {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: none;
  font-size: 1.4em;
  padding: 1.3em 2em;
}
/* ELEMENT */

.form__input {
  font-size: 2.8em;
  border: none;
  border-bottom: 2px solid var(--headline-color);
  width: 100%;
  padding-left: 0.5em;
}

.form__input::placeholder {
  opacity: 0.4em;
}

/* BLOCK */

.radio-group {
  display: flex;
  justify-content: space-around;
  margin-left: 1.5em;
}

/*ELEMENT */

.radio-group__title {
  color: var(--inactive-text-color);
}

.radio-group__input {
  position: absolute;
  opacity: 0;
}

.radio-group__input:checked + span {
  color: var(--primary-color);
}

.radio-group__input:focus-visible + .radio-group__title {
  outline: thin solid;
  outline-color: var(--secondary-color);
}

/* BLOCK */
.dash-title {
  grid-column: 1/3;
  font-size: 3em;
  margin: 0;
  margin-left: 0.3em;
}

.nav-button {
  grid-column-end: 1/4;
  justify-self: start;
  margin: 3em;
  margin-left: 1em;
  background: none;
  border: none;
  /* background-color: red; */
}

.alert-button {
  margin-right: 1em;
  justify-self: end;
  align-self: center;
  background: none;
  border: none;
}

.structure-page {
  display: grid;
  height: 100%;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr 4em;
}

.checkbox-group {
  grid-column: 2/4;
  display: grid;
  padding: 3em 1em;
  font-size: 1.3em;
  align-content: start;
  row-gap: 3em;
  overflow: auto;
  height: 1fr;
}

.nav-container {
  display: flex;
  flex-flow: column;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
}

.radio-group__dash {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.radio-group__date {
  transform: rotate(-90deg);
}

.checkbox-group__input {
  position: absolute;
  opacity: 0;
}

.checkbox-group__input:checked + .tasks-group__task {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
}

.plus-button {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  justify-content: flex-end;
  padding: 2em 3em;
  background: var(--primary-color);
  display: flex;
  align-items: end;
  place-items: center;
  margin-left: 6em;
  border-top-left-radius: 1em;
}

.menu-page {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 4fr 6fr;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 1;
  position: absolute;
  top: 0;
  left: -100%;
  color: var(--secondary-text-color);
}

.nav-button:checked ~ .menu-page {
  left: 0;
}

.menu-page__header h4 {
  text-transform: uppercase;
  padding-top: 2em;
  padding-left: 2.5em;
  margin: 0;
}

.menu-page__content {
  grid-row: 2;
  grid-column: 1;
}

.menu-page__content ul {
  list-style-type: none;
  font-size: 2em;
  display: flex;
  row-gap: 1em;
  flex-direction: column;
}

.menu-page__footer {
  grid-row: 3;
  grid-column: 1;
}

.menu-page__footer ul {
  list-style-type: none;
  display: flex;
  row-gap: 2em;
  flex-direction: column;
  padding-top: 2em;
}

.menu-page__header-button {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: start;
  align-self: end;
  background-image: url("assets/line.svg");
  background-image: url("assets/line2.svg");
  background-repeat: no-repeat;
  background-position: center;

  height: 100px;
  left: 50px; /* play around with this */
  position: absolute;
  top: 90px; /* and play around with this */
  width: 500px;
}

/* .menu-page__line {
  justify-content: ;
} */

#overlapthis {
  height: 100px;
  left: 50px; /* play around with this */
  position: absolute;
  top: 90px; /* and play around with this */
  width: 500px;
}

#thebigimage {
  background-image: url("bread_wine.jpg");
  height: 548px;
  margin-left: auto;
  margin-right: auto;
  position: relative; /* and this has to be relative */
  width: 731px;
}
